/* Text Styles */
.words{
    text-align: center;
    font-family: Avenir, monospace;
    color: white;
}
body{ 
    background: linear-gradient(20deg, rgba(241,253,254,1) 26%, rgba(0,128,255,2) 100%);
}
.gif{
    width:60%;
    height:auto;
    position:relative; 
    margin: 0 auto;
}
h1{
    /* margin: 200px 100px 0px; */
    font-weight: bold;
    font-size: 50px;
}
h2{
    margin: 0 auto;
    width: 500px;
    padding: 10px 0;
}
p{
    margin: 0, auto;
    bottom: 50px;
    font-size: 1.5em;
}
.container img{
 width: 60%;
 align-content: center;
 display: block;
 margin: 0 auto;
}
img {
    width: 400px;
    padding-bottom: 20px;
    display: block;
    transition: transform .1s;
}
 img :hover { 
     transform: scale(2.1); }