/* Text Styles */
.words{
    text-align: center;
    font-family: Avenir, monospace;
    color: white;
}
body{ 
    background: linear-gradient(20deg, rgba(241,253,254,1) 26%, rgba(0,132,255,1) 100%);
}
 h1{
    margin: 105px 100px 0px;
}
h2{
    margin: 0 auto;
    width: 500px;
    padding: 10px 0;
}
#subject{
    padding: -25px 0;
}
p{
    margin: 0, auto;
    bottom: 50px;
    font-size: 1.5em;
}
img {
    width: 400px;
    vertical-align: middle;
    padding-bottom: 20px;
}
/* #all img {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    justify-content: center; */
}
 .pic img { width: 50%;}
